
<div  id="navigation"  >
  <div class="nav sidenav "  id="nav_ul"  >
  </div>
</div>


<script type="text/javascript">
  var default_data=Array();
  var nodes=Array();
  var now_dimension=1;
  $(window).load(function(){
    var nav_ul;
    var dimension;//维度
    var default_data_str="default_data";
    nav_ul=$("#nav_ul").html();
    $("#nav_ul li").each(function(){
      var obj = new Object();
      obj.href=$(this).children("a:first").attr("href");
      obj.text= $(this).children("a:first").text();
      dimension=obj.text.split("#");
      obj.text=obj.text.replace(new RegExp(/(#)/g),"");
      obj.nodes=Array();
      push_arr(obj,dimension.length-1,default_data_str);
    });
   // console.log(default_data);
   //levels 没有下级菜单则为 - 号
    $('#nav_ul').treeview({
      enableLinks:true,
      levels:4,
      data: default_data
    });

  });
  //给菜单对象末尾添加元素,按维度,字符串方式
function push_arr(obj,dimension,default_data_str){
  var this_obj=Array();
  if(dimension<=1){
    eval(default_data_str).push(obj);
  }else {
    var key=eval(default_data_str).length-1;

    //修改只写三级标题,没写二级标题时出错问题
    if(key<0){
      eval(default_data_str)[0]=new Array();
      eval(default_data_str)[0]['nodes']=new Array();
      key=0;
    }
    default_data_str+="["+key+"]['nodes']";
    push_arr(obj,--dimension,default_data_str)
  }
}

</script>